#Ejercicio 1

In [6]:
num= int(input("¿Tú número es primo? insertalo "))
valor= range(2,num)
contador = 0
for n in valor:
  if num%n==0:
    contador+=1
    print("divisor:", n)
else:
  print("El número es primo")

¿Tú número es primo? insertalo 5
El número es primo

#Ejercicio 2

In [23]:
def numero (n):
n=input("")
for i in range(1, 11):
  n = (n-1 + n-2)

IndentationError: ignored

In [24]:
ddsd

NameError: ignored

#Ejercicio 4

In [27]:
n=i
while n<10:
  print("ingresa la tabla que deseeas")
  for i in range(1, 10):
   print(n,"x",i,"=",n*i)
  n+=1

ingresa la tabla que deseeas
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81