#Ejercicio 1

In [ ]:
num= int(input("¿Tú número es primo? insertalo "))
valor= range(2,num)
contador = 0
for n in valor:
  if num%n==0:
    contador+=1
    print("divisor:", n)
else:
  print("El número es primo")

¿Tú número es primo? insertalo 5
El número es primo

#Ejercicio 2

In [16]:
x=1
y=0
z=1
if 30>0:
    while z<=30:
       print(y)
       x+=y 
       y=x-y
       z+=1
    print("Esta es la lista completa de los 30 primeros números de Fibonacci")

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
Esta es la lista completa de los 30 primeros números de Fibonacci

#Ejercicio 3

In [10]:
def factorial(num):
    num= int(input("ingrese un numero"))
    if num<0: 
        print("Error, no existe")
    elif num==0: 
        return 1
    else: 
        t=1
        while(num>1): 
            t *= num
            num-=1
        return t 
print(f"El faltorial de {num} es {factorial(num)}")

NameError: ignored

#Ejercicio 4

In [ ]:
n=i
while n<10:
  print("ingresa la tabla que deseeas")
  for i in range(1, 10):
   print(n,"x",i,"=",n*i)
  n+=1

ingresa la tabla que deseeas
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#Ejercicio 5

#Ejercicio 6

In [15]:
x=int(input("Ingresa el número de la tabla que deseas y te lo enseñamos"))
print ("Esta es la tabla del ",x)
for i in range(1,11):
  print(x,"x",i,"=",x*i)

Ingresa el número de la tabla que deseas y te lo enseñamos9
Esta es la tabla del  9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

#Ejercicio 7

In [49]:
print ("Vamos a calacular la siguiente suma  ")
x =  100+90+80+70+60+50+40+30+20+10+0
print("El resultado es ", x)

Vamos a calacular la siguiente suma
El resultado es  550

Vamos a calacular la siguiente suma
El resultado es  550